<body>
    <div class="container">

        <div class="slide">


            <div class="item" style="background-image: url(https://www.unbosque.edu.co/sites/default/files/2021-02/Biblioteca%20%281%29.jpg);">
                <div class="content">
                    <div class="name">Visión</div>
                    <div class="des">Ser un referente y educativo en la comunidad, reconocida por su capacidad <br /> para conectar a las personas con la creatividad y el pensamiento crítico.</div>
                    <a class="btn btn-secondary" id="botonesRegistro" asp-area="" asp-controller="Libroes" asp-action="Index">Ingresar  <i class="fas fa-arrow-right"></i></a>
                </div>
        </div>
            <div class="item" style="background-image: url(https://www.bibliotecaspublicas.es/.imaging/mte/site-bibliotecas-theme/960/dam/miajadas/-Ven...-.jpg/jcr:content/portada.jpg);">
                <div class="content">
                    <div class="name">Sobre nosotros</div>
                    <div class="des">Nos dedicamos a fomentar el amor por la lectura, ofreciendo una amplia <br /> colección de libros, recursos digitales para todas las edades. </div>
                    <a class="btn btn-secondary" id="botonesRegistro" asp-area="" asp-controller="Libroes" asp-action="Index">Ingresar  <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="item" style="background-image: url(https://bogota.gov.co/sites/default/files/2021-11/biblioteca-el-mirador-ciudad-bolivar.jpeg);">
                <div class="content">
                    <div class="name">Misión</div>
                    <div class="des">Nuestra misión es proporcionar acceso libre y equitativo  al  conocimiento, <br /> fomentando la educación y el desarrollo personal de nuestra comunidad.</div>
                    <a class="btn btn-secondary" id="botonesRegistro" asp-area="" asp-controller="Libroes" asp-action="Index">Ingresar  <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>

    </div>

        <div class="button">
            <button class="prev"><i class="fas fa-arrow-left"></i></button>
            <button class="next"><i class="fas fa-arrow-right"></i></button>
        </div>

    </div>
</body>

<hr style="margin-top: 630px">
<footer class="text-break" style="margin-left: 1110px">
    <p>
        ©2024 Libros Para Todos S.A - Todos los Derechos Reservados
    </p>
</footer>
