@model CRUDMiguelDoriaEF.Models.Editoriale

@{
    ViewData["Title"] = "Editoriales";
}

<div class="row justify-content-center" style="padding: 20px; height: 80vh; display: flex; justify-content: center; align-items: center;">
    <div class="col-md-6">
        <h1 class="text-center">Editar Editorial</h1>
        <hr />
        <br /><br />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Nit" />

            <!-- Campo Nombres -->
            <div class="form-group">
                <label asp-for="Nombres" class="control-label" style="margin-bottom: 10px">Nombre:</label>
                <input asp-for="Nombres" class="form-control" required />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <br />

            <!-- Campo Teléfono -->
            <div class="form-group">
                <label asp-for="Telefono" class="control-label" style="margin-bottom: 10px">Teléfono:</label>
                <input asp-for="Telefono" class="form-control" required />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <br />

            <!-- Campo Dirección -->
            <div class="form-group">
                <label asp-for="Direccion" class="control-label" style="margin-bottom: 10px">Dirección:</label>
                <input asp-for="Direccion" class="form-control" required />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <br />

            <!-- Campo Email -->
            <div class="form-group">
                <label asp-for="Email" class="control-label" style="margin-bottom: 10px">Email:</label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />

            <!-- Campo Sitio Web -->
            <div class="form-group">
                <label asp-for="Sitioweb" class="control-label" style="margin-bottom: 10px">Sitio Web:</label>
                <input asp-for="Sitioweb" class="form-control" required />
                <span asp-validation-for="Sitioweb" class="text-danger"></span>
            </div>
            <br /><br />

            <!-- Botones de acción -->
            <div class="form-group text-center" style="margin-left: 470px; margin-top: 100px; margin-bottom: 100px">
                <a asp-action="Index" class="btn btn-danger" id="botones" style="margin-right: 10px">Cancelar</a>
                <button type="submit" onclick="alertActualizar()" class="btn btn-primary" id="botonesRegistro" />Actualizar<button />
            </div>
        </form>
    </div>
</div>
<hr style="margin-top: 400px">
<footer class="text-break" style="margin-left: 1110px">
    <p>
        ©2024 Libros Para Todos S.A - Todos los Derechos Reservados
    </p>
</footer>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
